@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #3b3054;
  position: relative;
}

.round-button {
  background-color: #2acfcf;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.round-button:hover {
  background-color: #94e6e6;
}

.wrapper {
  padding: 30px 15px 0 15px;
  background-image: url(/images/illustration-working.svg);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: calc(100% + 100px) 70px;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper nav i {
  color: #9b99a4;
  font-size: 30px;
  cursor: pointer;
}

.wrapper nav .nav-menu {
  position: absolute;
  width: 100%;
  height: 350px;
  background-color: #3a3053;
  color: white;
  bottom: -370px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  list-style: none;
  border-radius: 12px;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper nav .nav-menu li {
  font-weight: 700;
  padding: 13px;
  font-size: 17px;
  cursor: pointer;
}

.wrapper nav .nav-menu .blue {
  background-color: #2acfcf;
  width: 90%;
  border-radius: 24px;
  text-align: center;
  padding: 9px;
}

.wrapper nav .nav-menu .break {
  border-bottom: 2px solid #53496c;
  width: 95%;
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 25px;
}

.wrapper nav .nav-menu-desktop {
  display: none;
}

.wrapper nav .active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.wrapper .start {
  text-align: center;
  padding: 0 10px;
  padding-top: 325px;
  margin-bottom: 50px;
}

.wrapper .start h1 {
  line-height: 1.1;
  margin-bottom: 15px;
}

.wrapper .start p {
  color: #9e9aa7;
  margin-bottom: 25px;
}

.wrapper .start .round-button {
  padding: 11px 40px;
  text-decoration: none;
}

.input-section-wrapper {
  position: relative;
  padding-top: 20px;
}

.input-section-wrapper .gray-bg {
  position: absolute;
  width: 100%;
  background-color: #f0f1f6;
  height: 1500px;
  z-index: -20;
  top: 95px;
}

.input-section-wrapper .input {
  background-color: #3b3054;
  text-align: center;
  padding: 23px 25px;
  border-radius: 10px;
  background-image: url(/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-bottom: 25px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.input-section-wrapper .input input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.input-section-wrapper .input .rect-button {
  color: white;
  background-color: #2acfcf;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-section-wrapper .input .rect-button:hover {
  background-color: #94e6e6;
}

.input-section-wrapper .input p {
  color: #bd3b3b;
  position: absolute;
  font-size: 13px;
  top: 43%;
  display: none;
}

.input-section-wrapper .results .result {
  background-color: white;
  font-weight: 700;
  border-radius: 8px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

.input-section-wrapper .results .result .link {
  padding: 10px 10px;
  color: black;
  border-bottom: 2px solid #e5e5e5;
  font-size: 18px;
}

.input-section-wrapper .results .result .short {
  padding: 10px 10px;
  color: #2acfcf;
}

.input-section-wrapper .results .result .copybutton {
  background-color: #2acfcf;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-section-wrapper .results .result .copybutton:hover {
  background-color: #94e6e6;
}

.input-section-wrapper .results .result .copied {
  background-color: #3b3054;
}

.input-section-wrapper .statistics {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

.input-section-wrapper .statistics p {
  font-size: 16px;
  color: #9e9aa7;
}

.input-section-wrapper .sections {
  text-align: center;
  margin: 0 7%;
}

.input-section-wrapper .sections .section {
  background-color: #ffffff;
  margin-bottom: 100px;
  position: relative;
  padding: 70px 30px 45px 30px;
}

.input-section-wrapper .sections .section h3 {
  margin-bottom: 15px;
}

.input-section-wrapper .sections .section .section-image {
  position: absolute;
  padding: 20px;
  background-color: #3b3054;
  border-radius: 50%;
  left: calc(50% - 40px);
  top: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section-wrapper .sections .section .section-image img {
  width: 40px;
}

.input-section-wrapper .sections .section p {
  font-size: 15px;
}

.input-section-wrapper .sections .section .greenthing {
  position: absolute;
  width: 8px;
  background-color: #2acfcf;
  height: 150px;
  z-index: -20;
  left: calc(50% - 3px);
}

.boost {
  text-align: center;
  background-color: #3a3053;
  padding: 100px 0;
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.boost h3 {
  color: white;
  font-size: 26px;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  background-color: #232027;
  color: white;
  padding-bottom: 40px;
}

.footer h2 {
  padding: 40px 0 20px 0;
  font-size: 32px;
}

.footer .label {
  margin: 20px 0;
  font-size: 15px;
  font-weight: 700;
}

.footer li {
  list-style: none;
  font-size: 15px;
  margin-bottom: 30px;
}

.footer li ul {
  font-weight: 300;
  padding: 4px 0;
  cursor: pointer;
}

.footer .icons {
  font-size: 24px;
}

.footer .icons i {
  margin: 0 6px;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .wrapper {
    padding: 30px 10% 0 10%;
    background-size: 600px;
    background-position: calc(100% + 100px) 120px;
  }
  .wrapper nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper nav #mobile-logo {
    display: none;
  }
  .wrapper nav i {
    display: none;
  }
  .wrapper nav .nav-menu {
    display: none;
  }
  .wrapper nav .nav-menu-desktop {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #9e9aa7;
    font-weight: 700;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
  }
  .wrapper nav .menu-start #desktop-logo {
    margin-right: 30px;
  }
  .wrapper nav .menu-start li {
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wrapper nav .menu-start li:hover {
    color: black;
  }
  .wrapper nav .menu-end li {
    padding: 0 30px;
    cursor: pointer;
  }
  .wrapper nav .menu-end #login {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wrapper nav .menu-end #login:hover {
    color: black;
  }
  .wrapper nav .menu-end .blue {
    background-color: #2acfcf;
    color: white;
    border-radius: 18px;
    padding: 5px 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wrapper nav .menu-end .blue:hover {
    background-color: #94e6e6;
  }
  .wrapper .start {
    text-align: left;
    padding: 110px 0 50px 0;
  }
  .wrapper .start h1 {
    font-size: 68px;
    max-width: 550px;
  }
  .wrapper .start p {
    max-width: 550px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .input-section-wrapper .gray-bg {
    height: 1000px;
  }
  .input-section-wrapper .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px 50px;
    background-image: url(/images/bg-shorten-desktop.svg);
    background-size: cover;
  }
  .input-section-wrapper .input input {
    margin: 0;
    margin-right: 20px;
  }
  .input-section-wrapper .input .rect-button {
    width: 225px;
    height: 50%;
  }
  .input-section-wrapper .input p {
    top: 73%;
    font-size: 12px;
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  .input-section-wrapper .results .result {
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
  }
  .input-section-wrapper .results .result .link {
    border: none;
    padding: 0;
  }
  .input-section-wrapper .results .result .short {
    margin-left: auto;
  }
  .input-section-wrapper .results .result .copybutton {
    width: 100px;
    padding: 6px 0;
    margin: 0;
    margin-left: 7px;
    font-size: 14px;
    border-radius: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .input-section-wrapper .statistics {
    padding-top: 75px;
    margin-bottom: 100px;
  }
  .input-section-wrapper .statistics h2 {
    margin-bottom: 5px;
    font-size: 36px;
  }
  .input-section-wrapper .statistics p {
    font-size: 18px;
    max-width: 525px;
    margin: 0 auto;
  }
  .input-section-wrapper .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10%;
    text-align: left;
    padding-bottom: 125px;
  }
  .input-section-wrapper .sections .section {
    margin-bottom: 0;
    height: 250px;
  }
  .input-section-wrapper .sections .section .section-image {
    left: calc(20% - 46px);
    padding: 23px;
  }
  .input-section-wrapper .sections .section .section-image img {
    width: 45px;
  }
  .input-section-wrapper .sections .section .greenthing {
    width: 100%;
    height: 8px;
    top: 130px;
  }
  .input-section-wrapper .sections .section p {
    color: #bfbfbf;
  }
  .input-section-wrapper .sections #section1 {
    margin-right: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .input-section-wrapper .sections #section2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .input-section-wrapper .sections #section2 .greenthing {
    top: 100px;
  }
  .input-section-wrapper .sections #section3 {
    margin-left: 15px;
    margin-top: 70px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .boost {
    padding: 70px 0;
    background-image: url(/images/bg-boost-desktop.svg);
  }
  .boost h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .footer {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 10% 40px 10%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer h2 {
    padding: 0;
    margin-right: 10%;
  }
  .footer .footer-section li ul {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .footer .footer-section li ul:hover {
    color: #2acfcf;
  }
  .footer .icons {
    margin-top: 18px;
  }
  .footer .icons i {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .footer .icons i:hover {
    color: #2acfcf;
  }
}

@media (min-width: 1800px) {
  .wrapper {
    padding: 30px 15% 0 15%;
    background-size: 650px;
  }
  .input-section-wrapper .input {
    margin-left: 15%;
    margin-right: 15%;
  }
  .input-section-wrapper .results .result {
    margin-left: 15%;
    margin-right: 15%;
  }
  .input-section-wrapper .sections {
    margin: 0 15%;
  }
  .footer {
    padding: 60px 15% 40px 15%;
  }
}
/*# sourceMappingURL=style.css.map */